.bgbox {
    background-color: #f5f5dd;
    width: 800px;
    padding: 15px;
}

.kwadrat {
    height: 250px;
    width: 250px;
    margin-bottom: 5px;
}
.kwadrat-1 {
    background: rgba(0, 0, 0, 1);
}
.kwadrat-2 {
    background: rgba(0, 0, 0, 0.75);
}
.kwadrat-3 {
    background: rgba(0, 0, 0, 0.50);
}
.kwadrat-4 {
    background: rgba(0, 0, 0, 0.25);
}